* { padding: 0; margin: auto; }

html, body{
    height: 100%;
    display: block;
    margin: 0%;
}

.sevenSegment {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #5EC176;
    
    margin: 1.5em;
    width: 10em;
    max-width: 10em;
    text-align: right;
}

#pageContainer{
    display: block;
    max-width: 600px;
    height: 100%;
    background-color: #5EC176;
}

#petrolPump {
    background-color: #F0F5FA;
    height:100%;
    margin: 2em;
}

#logo{
    width:200px;
    height:200px;
    float: right;
}